
/* ------------------------ BODY ------------------------*/
body{
    background-color: #00e5ff;
    padding-top: 100px;
    min-width: 1024px;
}

.col-xs-6 > p{
    padding: 20px;
}

input{
    border: none;
    width: 100%;
}

/* ------------------------ SEARCH BAR ------------------------ */

/* contains search section */
.search {
    width: 100%;
    font-size: 25px;
}

/* search bar */
input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
}

/* search button */
button[type=submit]{
    background-color: darkblue;
    padding: 11.5px 20px;
    border: none;
    position: absolute;
}

/* search button icon */
.material-icons.md-36 { font-size: 36px; color:white;}


/* ------------------------ NAV BAR ------------------------*/
.navbar{
    height: 100px;
    background-color: wheat;
    min-width: 1024px;
}

.container-fluid{
    height: 100px;
}
    

.navbar-header{
    min-height: 100px;
}

#nav1{
    padding-top: 30px;
    padding-right: 24px;
}

/* ------------------------ SIGN IN BUTTON ------------------------*/
button[type=sign]{
    background-color: darkblue;
    color:white;
    padding: 12px 20px;
    border: none;
    top: 50px;
}

#nav2{
    padding-right: 24px;
}

.g-signin2{
    height: 100px;
}

.modal-body > br{
    line-height: 50%;
}
  